.jumbotron {
  background-image: url('http://3.bp.blogspot.com/-QxYJeAe6hp8/VTXW0zC6POI/AAAAAAAAFwQ/G6IuZ_zRREw/s1600/PicMonkey%2BCollage.jpg') ;
  background-size: cover;
  width: 100%;
  height: 300px;
}
