<!-- <div ng-show="topic.comments.length">
  <h2>Comments for {{ topic.title }}</h2>
  <ul>
    <li ng-repeat="item in topic.comments">
      {{ item.subject }}
    </li>
  </ul>
</div>

<div>
  <h2>Add a comment to {{ topic.title }}</h2>
  <form ng-submit="addComment()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="commentSubject" class="form-control" placeholder="Enter your comment">
    </div>
    <button type="submit" class="btn btn-warning">Add comment</button>
  </form>
</div> -->
